#ContentSection_index{
    background-image: url(/Images/HompageBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0.6cm;
}

.Textwrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 1cm;
    opacity: 0.95;
}

#Text_1 {
    height: 30vh;
    width: 80%;
    margin: 20px;
    padding: 5%;
}

#Text_2 {
    height: 30vh;
    width: 80%;
    margin: 20px;
    padding: 5%;
}

#Text_3 {
    width: 80%;
    height: 30vh;
    margin: 20px;
    padding: 5%;
}