.ContentSection{
    position: relative;
    border-top: 5px solid #23C9A1;
    font-size: 25px;
    background-color: #2E3245;
}

.flex{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;  
    min-height: fit-content; 
}

#production{
    background-image: url(/Images/production.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 64px;
    width: 50%;
}

#retail{
    background-image: url(/Images/retail.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 64px;
    width: 50%;
}

#management{
    background-image: url(/Images/management.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 64px;
    width: 50%;
}

#tech_and_logistics {
    background-image: url(/Images/tech_and_logistics.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 64px;
    width: 50%;
}

.Imagewrapper{
    transition: 0.5s;
    padding: 128px;
}

.Imagewrapper:hover{
    transform: scale(105%);
    transition: 0.5s;
}

h1, h1 a{
    color: #2E3245;
    font-size: 100px;
}

.row a{
    text-decoration: none;
    height: min-content;
    width: min-content;
    margin: 64px;
}
@media screen and (min-width: 1600px){
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0 64px 0 64px;
    }
}

.Footer_container{
    position:relative;
    left: -64px;
}