div.PageTopper a{
    color: #2E3245;
    transition: 0.5s;
}

div.PageTopper a:hover{
    color: #ffffff;
}

#index, #impressum, #Page{
    font-size: 48px;
}

#about, #career, #jobs, #locations, #products, #team, #robots{
    font-size: 40px;
}