body{
	margin: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
}

.PageTopper {
	position: fixed;
	top: 0px;
	height: 64px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid;
	border-width: 5px;
	border-color: #23C9A1;
	background-color: #16D09B;
	color: #ffffff;
	font-size: 48px;
	margin: 0px;
    z-index: 40; /*Benutze hier einen hohen z-Index damit er immer über dem Content liegt*/
}

div.PageTopper a{
    color: #2E3245;
    transition: 0.5s;
    font-size: 48px;
}

div.PageTopper a:hover{
    color: #ffffff;
}

#logo{
	position: absolute;
	height: 59px;
	width: 143.8125px;
}

.PageWrapper {
    position: absolute;
    min-height: calc(100vh - 57px) !important; /*Höhe der Seite - 5% der Navbar | Sehr wichtig darum !important*/
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
}

.sitenav_wrapper {
    position: fixed;	
    top: 64px; /*Daduch setzen wir direkt unter der Navbar an*/
	box-sizing: inherit;
    height: 100%; /*Durch diese Höhe nimmt der Sitenav wrapper 1/4 des Bildes ein*/
    width: 8cm; /*Durch diese Breite nimmt der Sitenav wrapper 1/4 des Bildes ein*/
	left: -8cm;
    z-index: 30; /*Benutze hier einen hohen z-Index damit er immer über dem Content liegt*/
	transition: 2s;
}

#navbar_open_btn {
    position: absolute;
    top: 2%;
	width: 20%; /* Benutze hier lieber Prozente, da du diese sonst auch überall nutzt */
    height: 8%; /* Benutze hier lieber Prozente, da du diese sonst auch überall nutzt */
	left: 100%;
	box-sizing: inherit;
	font-size: 30px;
	background-color: #2AD4A4;
	border-style: groove;
	border-top-right-radius: 1cm;
	border-bottom-right-radius: 1cm;
	border: none;
	z-index: 30;
}

.sitenav_menu_wrapper {
    position: absolute;
	height: 100%;
	width: 100%; /*Setze width hier auf volle breite*/
	box-sizing: inherit;
	background-color: #2AD4A4;
    top: 0; /*Somit liegen der Wrapper genau unter dem Knopf*/
    left: 0; /*Aus dem Bild heraus bewegen*/
	/*Padding fällt hier weg*/
    z-index: 35; /*Benutze hier einen hohen z-Index damit er immer über dem Content liegt*/
    overflow: hidden; /*Hier wird der Overflow benötigt*/
	transition: 2s;
}

#MenuHeadline{
	color: #2E3245;	
	padding-left: 0.5cm;
	padding-top: 0.3cm;
	padding-bottom: 0.3cm;
	font-size: 40px;
}

.sitenav_menu_wrapper a{
	display: block;
	padding-left: 0.5cm;
	padding-top: 0.3cm; /* Keine gehardcodeten Werte*/
	padding-bottom: 0.3cm;
	font-size: 25px;
	color: #2E3245;
	transition: 0.5s;
}

.sitenav_menu_wrapper a:hover {
	color: #ffffff;
	background-color: #16D09B;
}

.ContentSection {
    position: absolute;
	box-sizing: content-box;
    top: 64px;;
    padding: 0 64px 0px 64px;
    width: calc(100vw - 64px);
    min-height: calc(100vh - 64px);
    color: #2E3245;
    font-size: medium;
}

.Textwrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 1cm;
    opacity: 0.95;
}

.Footer_container{
	position: relative;
    bottom: 0px;
    height: fit-content;
    width: calc(100vw - 40px);
	left: -64px;
    background-color: #2E3245;
    border-top: 5px solid;
    border-color: #23C9A1;
	padding-left:40px;
	padding-right:20px;
	color:rgb(191, 182, 210);
}

#footer_logo {
	height:96px;
	top: 20px;
}

.footer_content_container{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: fit-content;
	padding-bottom: 50px;
}

.right_side{
	display: flex;
	flex-direction: row;
	width: 50%;
}

.column_1{
	width: 40%;
	padding-right:10%;
}

.column_2{
	width: 40%;
}

.column_3{
	width: 40%;
}

.social_media_links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100px;

}

.fa {
	font-size: 10px;
	width: 10px;
	height: 10px;
	text-align: center;
	text-decoration: none;
	background-color: #2E3245;
	border:none;
	color: rgb(191, 182, 210);
}

.Imagewrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 1cm;
}