body{
	margin: 0px;
	box-sizing: border-box;
	height: 100vh;
}

div.PageTopper {
	position: fixed;
	top: 0px;
	height: 64px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid;
	border-width: 5px;
	border-color: #23C9A1;
	background-color: #16D09B;
	color: #ffffff;
	font-size: 48px;
	margin: 0px;
    z-index: 40; /*Benutze hier einen hohen z-Index damit er immer über dem Content liegt*/
}

#logo{
	position: absolute;
	height: 59px;
	width: 143.8125px;
}

div.PageWrapper {
    position: absolute;
    min-height: calc(100vh - 57px) !important; /*Höhe der Seite - 5% der Navbar | Sehr wichtig darum !important*/
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
}

div.sitenav_wrapper {
    position: fixed;	
    top: 5%; /*Daduch setzen wir direkt unter der Navbar an*/
	box-sizing: inherit;
    height: 100%; /*Durch diese Höhe nimmt der Sitenav wrapper 1/4 des Bildes ein*/
    width: 8cm; /*Durch diese Breite nimmt der Sitenav wrapper 1/4 des Bildes ein*/
    z-index: 30; /*Benutze hier einen hohen z-Index damit er immer über dem Content liegt*/
}

#navbar_open_btn {
    position: absolute;
    top: 2%;
	width: 20%; /* Benutze hier lieber Prozente, da du diese sonst auch überall nutzt */
    height: 8%; /* Benutze hier lieber Prozente, da du diese sonst auch überall nutzt */
	left: 0;
	box-sizing: inherit;
	font-size: 30px;
	background-color: #2AD4A4;
	border-style: groove;
	border-top-right-radius: 1cm;
	border-bottom-right-radius: 1cm;
	border: none;
	transition: 2s;
	z-index: 30;
}

div.sitenav_menu_wrapper {
    position: absolute;
	height: 100%;
	width: 100%; /*Setze width hier auf volle breite*/
	box-sizing: inherit;
	background-color: #2AD4A4;
    top: 0; /*Somit liegen der Wrapper genau unter dem Knopf*/
    left: -100%; /*Aus dem Bild heraus bewegen*/
	/*Padding fällt hier weg*/
    z-index: 35; /*Benutze hier einen hohen z-Index damit er immer über dem Content liegt*/
    overflow: hidden; /*Hier wird der Overflow benötigt*/
	transition: 2s;
}

#MenuHeadline{
	color: #2E3245;	
	padding-left: 0.5cm;
	padding-top: 0.3cm;
	padding-bottom: 0.3cm;
	font-size: 40px;
}

div.sitenav_menu_wrapper a{
	display: block;
	padding-left: 0.5cm;
	padding-top: 0.3cm; /* Keine gehardcodeten Werte*/
	padding-bottom: 0.3cm;
	font-size: 25px;
	color: #2E3245;
	transition: 0.5s;
}

div.sitenav_menu_wrapper a:hover {
	color: #ffffff;
	background-color: #16D09B;
}

.ContentSection {
    position: absolute;
    top: 64px;;
    padding: 0 64px 0px 64px;
    width: calc(100vw-128px);
    min-height: calc(100vh-64px);
    color: #2E3245;
    font-size: medium;
}