body{
	margin:0px;
	box-sizing:border-box
}

div.sitewrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing:inherit;
}

div.PageTopper{
	position:sticky;
	height:5%;
	width:100%;
	box-sizing:inherit;
	border-bottom: solid;
	border-color: #16D09B;
	padding-left: 20px;

}

div.sitenav_wrapper{
	position:sticky;
	top:5%;
	height:95%;
	width:10%;
	box-sizing:inherit;
}

div.sitenav_button{
	position:sticky;
	width:30px;
	height:30px;
	box-sizing:inherit;
}

div.sitenav_menu_wrapper{
	box-sizing:inherit;
	height:inherit;
	width:inherit;
}

div.content_wrapper{
	position:absolute;
	height:95%;
	width:90%;
	left:10%;
	top:5%;
	box-sizing:inherit;
}
