div.sitewrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.sitenav_wrapper{
	
}

div.sitenav_button{
	position:relative;
	width:10px;
	height:10px;
}

div.sitenav_menu_wrapper{
	
}